[xfdesktop-version-4.10.3+-rcfile_format]
4.10.3+=true

[/home/leo/Desktop/chrome-cadlkienfkclaiaibeoongdcgmdikeeg-Default.desktop]
row=1
col=0

[/home/leo/Desktop/chrome-cinhimbnkkaeohfgghhklpknlkffjgod-Default.desktop]
row=4
col=0

[/home/leo/Desktop/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Default.desktop]
row=3
col=0

[/home/leo/Desktop/com.blackmagicdesign.resolve.desktop]
row=2
col=0

[/home/leo/Desktop/chrome-aghbiahbpaijignceidepookljebhfak-Default.desktop]
row=0
col=0

[/home/leo/Desktop/chrome-hnpfjngllnobngcgfapefoaidbinmjnm-Profile_1.desktop]
row=5
col=0

[Trash]
row=0
col=1

